.destaques {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;

  height: calc(100vh - 50px);
  width: 100%;
}

.caixa {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.destaques__principal {
  grid-column: 1 / 4;
  grid-row: 1 / 3;

  background-image: url('../img/fortnite.jpg');
}

.destaques__secundario:nth-child(2) {
  grid-column: 4 / 4;
  grid-row: 1 / 1;

  background-image: url(../img/pubg.jpg);
}


.destaques__secundario:nth-child(3) {
  grid-column: 4 / 4;
  grid-row: 2 / 2;

  background-image: url(../img/slack.png);
}


.destaques__secundario:nth-child(4) {
  grid-column: 4 / 4;
  grid-row: 3 / 3;

  background-image: url(../img/whatsapp.png);
}


.destaques__secundario:nth-child(5) {
  grid-column: 3 / 3;
  grid-row: 3 / 3;

  background-image: url(../img/cs-go.jpg);
}

.destaques__categorias {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
}

.destaques__categorias___lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;

  height: 100%;
}