.destaques {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;

  height: calc(100vh - 50px);
  width: 100%;
}

.caixa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #dcdcdc;
  overflow: hidden;

  cursor: pointer;
}

.caixa img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.caixa:hover img {
  filter: blur(2px);
  transform: scale(1.2);
}

.destaques__titulo {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 60px;
  transition: all 0.4s ease;

  color: #fdfdfdfd;
}

.caixa:hover .destaques__titulo {
  background: rgba(50, 1, 116, 0.5);
  height: 100%;

  font-size: 2.5rem;
}

.destaques__principal {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.destaques__secundario:nth-child(2) {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
}


.destaques__secundario:nth-child(3) {
  grid-column: 4 / 4;
  grid-row: 2 / 2;
}


.destaques__secundario:nth-child(4) {
  grid-column: 4 / 4;
  grid-row: 3 / 3;
}


.destaques__secundario:nth-child(5) {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
}

.destaques__categorias {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
}

.destaques__categorias___lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;

  height: 100%;
}

.destaques__categorias___link {
  display: flex;
  align-items: center;
  
  background: #fdfdfd;
  height: 100%;
  width: 100%;
  padding: 1rem;
  transition: all 0.4s ease;

  color: #333333;
}

.destaques__categorias___link svg {
  margin-right: 0.5rem;
}

.destaques__categorias___link:hover {
  background: #6817d1;
  
  color: #ffffff;
}