.app {
    display: grid;  
    grid-template-areas: 
        'header'
        'content'
        'footer';
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;

    background: #f1f1f1;

    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    grid-area: 'header';
}
 
.conteudo {
    grid-area: 'content';
}

.rodape {
    grid-area: 'footer';
}